@media (max-width: 768px) {
  .details-card {
    width: 90%; /* Aumenta a largura do card para ocupar mais espaço na tela */
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
    padding: 20px; /* Reduz o padding interno */
    margin-top: 20px; /* Reduz a margem superior */
    margin-left: auto; /* Centraliza o card horizontalmente */
    margin-right: auto; /* Centraliza o card horizontalmente */
  }

  .details-card h3 {
    font-size: 1.2em; /* Reduz o tamanho da fonte do título */
    padding: 8px; /* Reduz o padding interno */
  }

  .details-card p {
    font-size: 12px; /* Reduz o tamanho da fonte dos parágrafos */
    padding: 4px; /* Reduz o padding interno */
  }

  .details-card ul {
    margin-top: 15px; /* Reduz o espaçamento superior da lista */
  }

  .details-card li {
    padding: 8px 0; /* Reduz o espaçamento entre os itens da lista */
    font-size: 12px; /* Reduz o tamanho da fonte dos itens da lista */
  }
}