<div class="details-card" *ngIf="pokemonDetails">
    <h3>{{ pokemonDetails.name }}</h3>
    <p>Abilities</p>
    <ul>
      <li *ngFor="let ability of pokemonDetails.abilities">
        {{ ability.ability.name }}
      </li>
    </ul>
    <p>Game Indices</p>
    <ul>
      <li *ngFor="let gameIndex of pokemonDetails.game_indices">
        {{ gameIndex.version.name }}
      </li>
    </ul>
    <footer class="details-footer">
      <span class="weakness">Weakness</span>
      <span class="resistance">Resistance</span>
    </footer>
    <button (click)="onClose()" class="close-button">Close</button>
  </div>
  