@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* Fonte estilo gamer */



button {
  display: block;
  padding: 26px 60px; 
  border: 2px solid #ff0044;
  border-radius: 20px;
  height: 80px;
  background-color: #c61c1c; 
  color: #fff; 
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease; 
  border: none;
  box-sizing: border-box;
  position: absolute; /* Absolute positioning for fixed placement */
  margin-left: 1200px; /* Center horizontally */
  margin-top:150px; /* Adjust vertical position */
  transform: translateX(-50%); /* Center horizontally based on width */
  font-family: 'Press Start 2P', cursive; 
  text-transform: uppercase; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

button:hover {
  background-color: #ff0044; 
  transform: scale(1.05) translateX(-50%); /* Keep the button centered */
}

button:active {
  transform: scale(0.95) translateX(-50%); /* Keep the button centered */
}

button:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}

