
  /* Media queries para smartphones e telas muito pequenas */
  @media screen and (max-width: 480px) {
    .search-container {
      margin-left: -20px;
      margin-top: 60px;
      width: 90%;
    }
  
    .results-container {
      margin-left: -20px;
      width: 90%;
      padding: 5px;
    }
  
    .result-item {
      padding: 6px;
      font-size: 9px;
      margin-bottom: 6px;
    }
  
    .details-card {
      margin-top: 40px;
      margin-left: 60px;
      width: 220px;
      height: 330px;
      padding: 10px;
    }
  
    .details-card h3 {
      font-size: 16px;
      padding: 60px;
      text-indent: -41px;
      
    }
  
    .details-card p {
      font-size: 8px;
      padding: 5px;
    }
  
    .details-card ul {
      margin-top: 8px;
    }
  
    .details-card li {
      font-size: 7px;
      padding: 2px 0;
    }
  
    .details-card .close-button {
      margin-top: -250px;
      margin-left: 220px;
      padding: 5px;
      width: 45px;
      font-size: 8px;
    }
  
    .details-footer {
      margin-left: 10px;
      padding: 2px;
    }
  
    .details-footer span {
      font-size: 6px;
    }
  }
  