/* Para telas menores, como tablets (largura máxima de 768px) */
@media screen and (max-width: 768px) {
    .search-container {
      margin-left: 20px; /* Ajusta a margem à esquerda */
      margin-top: 100px; /* Ajusta a margem superior */
      width: 80%; /* Aumenta a largura do contêiner */
    }
  
    .input-wrapper input {
      padding: 15px; /* Reduz o padding interno do input */
      font-size: 10px; /* Reduz o tamanho da fonte do input */
    }
  }
  
  /* Para telas muito pequenas, como smartphones (largura máxima de 480px) */
  @media screen and (max-width: 480px) {
    .search-container {
      margin-left: -20px; /* Ajusta a margem à esquerda para telas pequenas */
      margin-top: 80px; /* Ajusta a margem superior */
      width: 90%; /* Quase toda a largura do elemento pai */
    }
  
    .input-wrapper input {
      padding: 10px; /* Reduz ainda mais o padding */
      font-size: 8px; /* Diminui o tamanho da fonte do input */
    }
  }
  
  /* Media queries para tablets e telas menores */
  @media screen and (max-width: 768px) {
    .search-container {
      margin-left: 50px;
      margin-top: 80px;
      width: 80%;
    }
  
    .results-container {
      margin-left: 50px;
      width: 80%;
      padding: 8px;
    }
  
    .result-item {
      padding: 8px;
      font-size: 10px;
      margin-bottom: 8px;
    }
  
    .details-card {
      margin-top: -650px;
      margin-right: 20px;
      width: 250px;
      height: 400px;
      padding: 15px;
    }
  
    .details-card h3 {
      font-size: 18px;
      padding: 80px;
    }
  
    .details-card p {
      font-size: 9px;
      padding: 6px;
    }
  
    .details-card ul {
      margin-top: 10px;
    }
  
    .details-card li {
      font-size: 8px;
      padding: 3px 0;
    }
  
    .details-card .close-button {
      margin-top: -300px;
      margin-left: 250px;
      padding: 6px;
      width: 50px;
      font-size: 9px;
    }
  
    .details-footer {
      margin-left: 20px;
      padding: 3px;
    }
  
    .details-footer span {
      font-size: 7px;
    }
  }
  
  /* Media queries para smartphones e telas muito pequenas */
  @media screen and (max-width: 480px) {
    .search-container {
      margin-left: 20px;
      margin-top: 60px;
      width: 90%;
    }
  
    .results-container {
      margin-left: 20px;
      width: 90%;
      padding: 5px;
    }
  
    .result-item {
      padding: 6px;
      font-size: 9px;
      margin-bottom: 6px;
    }
  
    .details-card {
      margin-top: 40px;
      margin-left: 60px;
      width: 220px;
      height: 330px;
      padding: 10px;
    }
  
    .details-card h3 {
      font-size: 16px;
      padding: 60px;
      text-indent: -41px;
      
    }
  
    .details-card p {
      font-size: 8px;
      padding: 5px;
    }
  
    .details-card ul {
      margin-top: 8px;
    }
  
    .details-card li {
      font-size: 7px;
      padding: 2px 0;
    }
  
    .details-card .close-button {
      margin-top: -250px;
      margin-left: 220px;
      padding: 5px;
      width: 45px;
      font-size: 8px;
    }
  
    .details-footer {
      margin-left: 10px;
      padding: 2px;
    }
  
    .details-footer span {
      font-size: 6px;
    }
  }
  