.search-container {
  display: flex; /* Alinha os itens dentro do contêiner na horizontal */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  margin-left: 400px; /* Espaçamento à esquerda do contêiner */
  width: 40%; /* Largura do contêiner definida como 40% do elemento pai */
  margin-top: 150px; /* Espaçamento acima do contêiner */
  border-radius: 10px; /* Bordas arredondadas */
  background: #fff; /* Cor de fundo branca */
  border: 3px solid #000; /* Borda preta de 3px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para efeito de profundidade */
}

/* Estilo do input dentro do contêiner de pesquisa */
.search-container input {
  padding: 20px; /* Espaçamento interno do input */
  border: none; /* Remove a borda padrão do input */
  border-radius: 8px; /* Bordas arredondadas do input */
  flex: 1; /* Faz o input ocupar o espaço restante disponível */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  font-weight: bold; /* Define o texto em negrito */
  font-family: 'Press Start 2P', cursive; /* Fonte estilizada */
  color: #333; /* Cor do texto */
  background-color: #f7f7f7; /* Cor de fundo cinza claro */
  outline: none; /* Remove o contorno padrão do foco do input */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

/* Estilo do input quando está em foco */
.search-container input:focus {
  border: 2px solid #ffcb05; /* Borda amarela ao foco */
  background-color: #fff; /* Cor de fundo branca ao foco */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Sombra mais suave ao foco */
}

/* Estilo do wrapper do input */
.input-wrapper {
  width: 100%; /* Faz o wrapper ocupar toda a largura disponível */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

/* Estilo do input dentro do wrapper */
.input-wrapper input {
  width: 100%; /* Faz o input ocupar toda a largura do wrapper */
  padding: 20px; /* Espaçamento interno do input */
  border: none; /* Remove a borda padrão do input */
  border-radius: 8px; /* Bordas arredondadas do input */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  font-weight: bold; /* Define o texto em negrito */
  font-family: 'Press Start 2P', cursive; /* Fonte estilizada */
  color: #333; /* Cor do texto */
  background-color: #f7f7f7; /* Cor de fundo cinza claro */
  outline: none; /* Remove o contorno padrão do foco do input */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

/* Estilo do input dentro do wrapper quando está em foco */
.input-wrapper input:focus {
  border: 2px solid #ffcb05; /* Borda amarela ao foco */
  background-color: #fff; /* Cor de fundo branca ao foco */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Sombra mais suave ao foco */
}

/* Estilo para inputs dentro da seção de resultados */
.results-input {
  border: none; /* Remove a borda padrão do input */
  outline: none; /* Remove o contorno padrão do foco do input */
  background-color: transparent; /* Fundo transparente */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  font-weight: bold; /* Define o texto em negrito */
  font-family: 'Press Start 2P', cursive; /* Fonte estilizada */
  color: #333; /* Cor do texto */
}

/* Estilo do contêiner de resultados */
.results-container {
  display: flex; /* Exibe os itens como flexbox */
  flex-direction: column; /* Alinha os itens na vertical */
  align-items: stretch; /* Garante que os itens ocupem o espaço total disponível */
  margin-left: 400px; /* Espaçamento à esquerda do contêiner */
  width: 40%; /* Largura ajustada para se adequar ao layout */
  background-color: #fff; /* Cor de fundo branca */
  border: 3px solid #333; /* Borda preta de 3px */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 10px; /* Espaçamento interno */
  opacity: 0; /* Inicialmente invisível */
  visibility: hidden; /* Inicialmente escondido */
  transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.3s ease; /* Transição suave para visibilidade e cor de fundo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para efeito de profundidade */
}

/* Estilo do contêiner de resultados quando visível */
.results-container.show {
  background-color: #f7f7f7; /* Cor de fundo cinza claro quando visível */
  opacity: 1; /* Visível */
  visibility: visible; /* Mostra o contêiner */
}

/* Estilo dos itens de resultado */
.result-item {
  padding: 20px; /* Espaçamento interno dos itens */
  font-size: 18px; /* Tamanho da fonte */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  font-weight: bold; /* Define o texto em negrito */
  font-family: 'Press Start 2P', cursive; /* Fonte estilizada */
  color: #333; /* Cor do texto */
  margin-bottom: 10px; /* Espaçamento entre os itens */
  background-color: #e0e0e0; /* Cor de fundo cinza claro */
  border: 2px solid #333; /* Borda preta ao redor dos itens */
  border-radius: 5px; /* Bordas arredondadas dos itens */
  width: 100%; /* Ajusta a largura dos itens para ocupar toda a área disponível */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
}

/* Estilo do botão de detalhes */
.details-button {
  display: block; /* Exibe o botão como bloco */
  background-color: #ffcb05; /* Cor de fundo amarela inspirada em Pokémon */
  color: #333; /* Cor do texto */
  border: 2px solid #333; /* Borda preta de 2px */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 18px; /* Tamanho da fonte */
  padding: 10px 20px; /* Espaçamento interno */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transições suaves para cor de fundo e transformação */
  text-transform: uppercase; /* Transforma o texto em maiúsculas */
  font-weight: bold; /* Define o texto em negrito */
  font-family: 'Press Start 2P', cursive; /* Fonte estilizada */
  width: 100%; /* Ocupa toda a largura disponível */
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura total */
  margin-top: 10px; /* Espaçamento acima do botão */
}

.details-button:hover {
  background-color: #f0a500; /* Cor de fundo mais escura no hover */
  transform: scale(1.05); /* Efeito de aumento no hover */
}



/* search.component.css */
.details-card {
  position: relative; /* Permite o posicionamento adequado do botão de fechar */
  margin: 0 auto; /* Centraliza horizontalmente */
  border: 6px solid #a57b9f; /* Borda roxa para o estilo de carta */
  border-radius: 10px; /* Borda mais arredondada */
  background: linear-gradient(135deg, #e0e0e0, #b0b0b0, #d9d9d9, #f5f5f5); /* Gradiente para simular o brilho de um diamante */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Sombra para efeito de profundidade */
  margin-top:40px;
  margin-left:530px;
  width: 340px; /* Largura fixa */
  height: 518px;
  max-width: 30%;
  padding: 30px; /* Espaçamento interno */
  font-family: 'Press Start 2P', cursive; /* Tipografia retrô dos anos 90 */
  transition: opacity 0.4s ease, transform 0.4s ease;
}


.details-card h3 {
  font-size: 1.5em; /* Tamanho da fonte para o título */
  text-align: center; /* Centraliza o título */
  font-weight: bold; /* Negrito para destaque */
  color: #fff; /* Texto branco */
  padding: 10px; /* Padding interno */
  border-radius: 5px; /* Borda arredondada */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra para um leve efeito de profundidade */
  text-transform: uppercase; 
  background: linear-gradient(135deg, #9e7bfa, #b8a2d0); /* Gradiente roxo */
  background-clip: padding-box; /* Aplica o gradiente apenas na área de padding */
  border: 4px solid #a57b9f; /* Borda roxa para destaque */
}

.details-card p {
  font-weight: bold; /* Texto em negrito */
  margin-top: 10px; /* Margem superior para espaçamento */
  color: #fff; /* Texto branco */
  font-size: 14px; /* Tamanho da fonte */
  background: linear-gradient(135deg, #7f4cff, #6f2a8d); /* Gradiente roxo */
  padding: 5px; /* Espaçamento interno */
  border-radius: 5px; /* Borda arredondada */
  text-align: center; /* Centraliza o texto */
  border: 2px solid #6f2a8d; /* Borda roxa escura */
}

.details-card ul {
  margin-top: 20px;
  list-style-type: none; /* Remove marcadores */
  padding: 0;
}

.details-card li {
  padding: 10px 0; /* Espaçamento entre itens */
  border-bottom: 1px solid #ddd; /* Linha divisória entre habilidades */
  color: #333; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
}

.details-card .close-button {
  position: absolute; /* Posiciona o botão dentro da carta */
  bottom: 10px; /* Distância da parte inferior */
  right: 110px; /* Distância da direita */
  margin-top:60px;
  color: white;
  border: 4px solid #a57b9f; /* Borda roxa para combinar com o tema */
  border-radius: 5px; /* Borda arredondada */
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
  background: linear-gradient(135deg, #7f4cff, #6f2a8d); /* Gradiente roxo */
  border: 1px solid #6f2a8d; /* Borda roxa escura */
  text-align: center; /* Centraliza o texto no botão */
}

.details-card .close-button:hover {
  background-color: #5f1a6b; /* Cor ao passar o mouse */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.details-footer {
  background: linear-gradient(135deg, #9e7bfa, #b8a2d0); /* Gradiente roxo */
  padding: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 0 0 10px 10px; /* Arredondamento dos cantos inferiores */
}

.details-footer span {
  font-size: 12px; /* Tamanho da fonte para melhor visibilidade */
  color: #000; /* Cor preta para contraste */
}
