.search-container {
  display: flex;
  align-items: center;
  margin: 140px 442px; /* Margens ajustadas para não sobrepor outros elementos */
  width: 30%;
  border-radius: 4px; /* Borda arredondada */
}

.search-container input {
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  text-transform: uppercase; 
  font-weight: bold;
  color:#8b8888;
  
}

.results-container {
  display: flex;
  align-items: center;
  margin: -142px 440px; /* Margens ajustadas para não sobrepor outros elementos */
  width: 603px;
  background-color: #f0f0f0; /* Fundo cinza claro */
  border-radius: 4px; /* Borda arredondada */
  padding: 10px; /* Padding para melhorar a aparência */
}

.results-container input {
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  flex: 1;
  background-color: #f0f0f0; 
  text-transform: uppercase;
  cursor: pointer; /* Cursor padrão para o campo de resultados */
  font-weight: bold;
  color:gray;
}
